.add-todo-error {
  color: $off-black;
  font-style: italic;
  margin: $m-size 0 0 0;
}

.add-todo {
  display: flex;
  flex-direction: column;
  padding-top: $m-size;
}

.add-todo__input {
  border: none;
  color: $off-black;
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}
