.button {
  background: $blue;
  border: none;
  border-bottom: 0.3rem solid darken($blue, 10%);
  color: $off-white;
  font-size: 2rem;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-black;
  padding: 0;
}
