.header {
  border-bottom: 1px solid lighten($off-black, 75%);
  color: $off-black;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  margin: 0;
  text-align: center;
}
