//Changing the font size to 62.5% is useful because it establishes
//a 1 to 10 relationship between rem and px. So, 1 rem is the same
//as 10px.
html {
  font-size: 62.5%;
}

body {
  background-color: $off-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}
